<button type="button"
        class="btn btn-primary"
        (click)="add()">ADD NEW RECORD</button>
<button type="button"
        class="btn btn-danger"
        (click)="delete()">DELETE SELECTED</button>
<button type="button"
        class="btn btn-success"
        (click)="save()">SAVE CHANGES</button>
<button type="button"
        class="btn btn-warning"
        (click)="cancel()">CANCEL CHANGES</button>

<p-table #dt
         [columns]="cols"
         [value]="cars"
         [paginator]="true"
         [rows]="10"
         selectionMode="single"
         [(selection)]="selectedCar">
  <ng-template pTemplate="header"
               let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns"
          [ngSwitch]="col.field">
        <p-multiSelect *ngSwitchCase="'vin'"
                       [options]="vins"
                       defaultLabel="All Vins"
                       (onChange)="dt.filter($event.value, col.field, 'in')"
                       [style]="{'width':'100%'}"></p-multiSelect>
        <p-multiSelect *ngSwitchCase="'year'"
                       [options]="years"
                       defaultLabel="All Years"
                       (onChange)="dt.filter($event.value, col.field, 'in')"
                       [style]="{'width':'100%'}"></p-multiSelect>
        <p-multiSelect *ngSwitchCase="'brand'"
                       [options]="brands"
                       defaultLabel="All Brands"
                       (onChange)="dt.filter($event.value, col.field, 'in')"
                       [style]="{'width':'100%'}"></p-multiSelect>
        <p-multiSelect *ngSwitchCase="'color'"
                       [options]="colors"
                       defaultLabel="All Colors"
                       (onChange)="dt.filter($event.value, col.field, 'in')"
                       [style]="{'width':'100%'}"></p-multiSelect>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-rowData
               let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        <editable (update)="updateField(rowData.id-1, col.field)">
          <ng-template viewMode
                       placeholder="Missing Text"
                       style="width: 100%;
                              height: 70%;
                              box-sizing: border-box;
                              margin-top: 0;
                              margin-bottom: 0;">
            {{rowData[col.field]}}
            <div [hidden]="true"
                 class="alert alert-danger">
              Edited
            </div>
          </ng-template>
          <ng-template editMode>
            <input [formControl]="getControl(rowData.id-1, col.field)"
                   focusable
                   editableOnEnter
                   margin="normal"
                   placeholder="Missing Text"
                   style="width: 100%;
                          height: 70%;
                          box-sizing: border-box;
                          margin-top: 0;
                          margin-bottom: 0;"
                   required>
          </ng-template>
        </editable>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-toast position="center"
         key="c"
         (onClose)="onReject()"
         [modal]="true"
         [baseZIndex]="5000">
  <ng-template let-message
               pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle"
         style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button"
                pButton
                (click)="onConfirm()"
                label="Yes"
                class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button"
                pButton
                (click)="onReject()"
                label="No"
                class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>