<!-- <p-table
  #dt
  [columns]="cols"
  [value]="barData"
  selectionMode="single"
  autoLayout="true">
  <ng-template pTemplate="caption">
    Dataset
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Label</th>
      <th>2006</th>
      <th>2007</th>
      <th>2008</th>
      <th>2009</th>
      <th>2010</th>
      <th>2011</th>
      <th>2012</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-barData>
    <tr>
      <td>{{ barData.label }}</td>
      <td>{{ barData.data[0] }}</td>
      <td>{{ barData.data[1] }}</td>
      <td>{{ barData.data[2] }}</td>
      <td>{{ barData.data[3] }}</td>
      <td>{{ barData.data[4] }}</td>
      <td>{{ barData.data[5] }}</td>
      <td>{{ barData.data[6] }}</td>
    </tr>
  </ng-template>
</p-table> -->

<p-table [columns]="cols"
         [value]="barData"
         selectionMode="single"
         [paginator]="true"
         [scrollable]="true"
         scrollHeight="200px"
         [rows]="10">

  <ng-template pTemplate="caption">
    Dataset
  </ng-template>

  <ng-template pTemplate="header"
               let-columns>
    <tr>
      <th *ngFor="let col of columns"
          [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body"
               let-barData
               let-columns="columns">
    <tr [pSelectableRow]="barData">
      <!-- <td *ngFor="let col of columns">
        {{barData[col.field]}}
      </td> -->

      <td>{{ barData.label }}</td>
      <td>{{ barData.data[0] }}</td>
      <td>{{ barData.data[1] }}</td>
      <td>{{ barData.data[2] }}</td>
      <td>{{ barData.data[3] }}</td>
      <td>{{ barData.data[4] }}</td>
      <td>{{ barData.data[5] }}</td>
      <td>{{ barData.data[6] }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary"
               let-barData>
    <div style="text-align: left">
      <button type="button"
              pButton
              icon="fa fa-plus"
              (click)="showDialogToAdd()"
              label="Add"></button>
    </div>
  </ng-template>

</p-table>

<p-dialog header="Data Details"
          [(visible)]="displayDialog"
          [responsive]="true"
          showEffect="fade"
          [modal]="true"
          [style]="{width: '300px'}">
  <div class="ui-g ui-fluid"
       *ngIf="singleBarData">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="label">Label</label>
      </div>
      <div class="ui-g-8">
        <input pInputText
               id="label"
               [(ngModel)]="singleBarData.label" />
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button"
              pButton
              icon="fa fa-close"
              (click)="delete()"
              label="Delete"></button>
      <button type="button"
              pButton
              icon="fa fa-check"
              (click)="save()"
              label="Save"></button>
    </div>
  </p-footer>
</p-dialog>