<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/table/p-table">PrimeNG Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/table/mat-table">Material Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/table/test-table">Test Table</a></li>
  </ul>
</div>