<!-- <mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" style="display: flex; justify-content: center; align-content: center">
    <mat-icon>face</mat-icon>
  </button>
  <div style="align-content: center">
    <span>Trung's demo Angular app</span>
  </div>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="/chart">
    <mat-icon>pie_chart</mat-icon>
    <span>Chart</span>
  </button>
  <button mat-menu-item routerLink="/table">
    <mat-icon>table_chart</mat-icon>
    <span>Table</span>
  </button>
  <button mat-menu-item routerLink="#">
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu> -->

<mat-toolbar>
  <button mat-icon-button
          (click)="sidenav.toggle()"
          style="display: flex; justify-content: center; align-content: center">
    <mat-icon>face</mat-icon>
  </button>
  <div style="align-content: center">
    <span>Trung's demo Angular app</span>
  </div>
</mat-toolbar>
<mat-sidenav-container style="flex: 1">
  <mat-sidenav #sidenav
               mode="over"
               [(opened)]="opened">
    <mat-toolbar>
      <mat-toolbar-row>
        <h2>Test Side Nav</h2>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list>
      <button mat-list-item
              routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-list-item
              routerLink="/chart">
        <mat-icon>pie_chart</mat-icon>
        <span>Chart</span>
      </button>
      <button mat-list-item
              routerLink="/table">
        <mat-icon>table_chart</mat-icon>
        <span>Table</span>
      </button>
      <button mat-list-item
              routerLink="#">
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 1000px">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>